.row>* {
    padding-left: 0;
    padding-right: 0;
}


/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .row>* {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* .head_image {
        width: fit-content
    } */
}

@media (max-width: 480px) {
    .row>* {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* .head_image {
        width: fit-content
    } */
}