body {
    background-image: url('../images/bg_image.svg');
}

.navbar-style {
    background-color: #926546;
    height: "20%";
    // padding-left: "0px";
    // padding-right: "0px";

    .nav-fill .nav-item .nav-link {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        justify-content: center;
        text-transform: none;
    }

    .signinBtn {
        width: 102px;
        height: 40px;
    }

    .signinTxt {
        color: #6B3715;
        font-size: 16px;
        text-align: center;
        justify-content: center;
    }

    .profile_image {
        cursor: pointer;

    }

    .profileBtn {
        background-color: #ffffff;
        /* width: 102px;
        height: 40px; */
        color: #6B3715;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }

}


/* @media (min-width: 1400px) and (max-width: 1699px) {
    .navbar-style {
        background-color: #926546;
        height: 107px;
    }
} */