body {
    font-family: 'Roboto';
    margin: 0px;
}

.welcome_title {
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #6B3715;
}

.welcome_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.008em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .welcome_title {
        font-size: 36px;
        line-height: 44px;
    }

    .bannerPage {
        padding-top: 117px;
    }

    .welcome_text {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 480px) {
    .welcome_title {
        font-size: 28px;
        line-height: 36px;
    }

    .bannerPage {
        padding-top: 108px;
        width: fit-content;
    }

    .welcome_text {
        font-size: 18px;
        line-height: 24px;
    }
}