.signupTxt {
    color: #6B3715;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .signupTxt {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .signupTxt {
        font-size: 12px;
    }
}
